@font-face {
  font-family: MullerExtraBold;
  font-display: swap;
  src: url("../fonts/MullerExtraBold.woff2") format("woff2"), url("../fonts/MullerExtraBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MullerMedium;
  font-display: swap;
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MullerBold;
  font-display: swap;
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MullerRegular;
  font-display: swap;
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Muller", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Muller", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

body {
  background: #101226;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem 1.875rem;
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 0.0625rem;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 #000, 0 0.1875rem 0 0 #871628;
          box-shadow: 0 0.25rem 0.25rem 0 #000, 0 0.1875rem 0 0 #871628;
  min-height: 1.875rem;
  background-color: #54608a;
}

.btn_red {
  background: #fe284a;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  width: 8.75rem;
}

.games .select__title {
  border-radius: 0.3125rem;
  background: #191929;
  width: 13.125rem;
  height: 2.1875rem;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.625rem;
          flex: 0 0 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/icons/arrows.svg") 50%/100% no-repeat;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 1.8125rem;
  border-radius: 0 0 0.25rem 0.25rem;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 0.625rem 0rem 0.3125rem;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 0.3125rem 0.9375rem;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.swiper {
  overflow: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.header {
  background: rgba(37, 37, 54, 0.95);
  -webkit-box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5rem;
          flex: 0 0 12.5rem;
  width: 12.5rem;
  height: auto;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  font-size: 0.75rem;
  line-height: 1.6666666667;
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background: currentColor;
}

.header__link:not(:last-child) {
  margin-right: 1.25rem;
}

.header__btn:not(:last-child) {
  margin-right: 1.25rem;
}

.header__support {
  font-size: 0.875rem;
  color: #e8ce3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header__support::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/icons/question.svg") 50%/100% no-repeat;
}

.mob-header {
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 10;
  min-width: 15.625rem;
  background: #303036;
  padding: 0.625rem 0.625rem 1.25rem;
  overflow-y: scroll;
  -webkit-transition: right 0.3s ease 0s;
  transition: right 0.3s ease 0s;
}

.menu-open .mob-header {
  right: 0;
}

.mob-header__wrapper {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mob-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob-header__top:not(:last-child) {
  margin-bottom: 1.875rem;
}

.mob-header__user:not(:last-child) {
  margin-right: 0.625rem;
}

.mob-header__btn {
  padding: 0rem 0.75rem;
}

.mob-header__close {
  margin-left: auto;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  position: relative;
}

.mob-header__close::after,
.mob-header__close::before {
  position: absolute;
  height: 0.0625rem;
  background: #fff;
  top: 50%;
  left: 50%;
  content: "";
  width: 100%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.mob-header__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
      -ms-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.mob-header__games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #363647;
}

.mob-header__game {
  font-weight: 800;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob-header__game:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.mob-header__game::before {
  content: "";
  width: 2.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.625rem;
          flex: 0 0 2.625rem;
  height: 2.5rem;
  margin-right: 0.3125rem;
}

.mob-header__game_1 {
  color: #17eada;
}

.mob-header__game_1::before {
  background: url("../img/icons/game_1.svg") 50%/100% no-repeat;
}

.mob-header__game_2 {
  color: #6ef770;
}

.mob-header__game_2::before {
  background: url("../img/icons/game_2.svg") 50%/100% no-repeat;
}

.mob-header__game_3 {
  color: #de593e;
}

.mob-header__game_3::before {
  background: url("../img/icons/game_3.svg") 50%/100% no-repeat;
}

.mob-header__game_4 {
  color: #e8ce3a;
}

.mob-header__game_4::before {
  background: url("../img/icons/game_4.svg") 50%/100% no-repeat;
}

.mob-header__list {
  padding: 1.25rem 0 1.875rem;
}

.mob-header__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.mob-header__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.mob-header__link img {
  margin-right: 0.75rem;
}

.no-webp .mob-header__download {
  background: url("../img/download.png") 50%/cover no-repeat; }

.mob-header__download {
  width: 100%;
  min-height: 5.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 0.625rem;
  border-radius: 0.9375rem;
}

.mob-header__download:not(:last-child) {
  margin-bottom: 0.625rem;
}

.mob-header__support {
  min-height: 3.25rem;
  border-radius: 0.9375rem;
  background: -webkit-gradient(linear, left top, right top, from(#41a029), color-stop(25.09%, #1abec7), color-stop(75.08%, #1abec7), to(#1d74d4));
  background: linear-gradient(90deg, #41a029 0%, #1abec7 25.09%, #1abec7 75.08%, #1d74d4 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0rem 0.625rem;
}

.mob-header__support::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1.8125rem;
  height: 1.5625rem;
  background: url("../img/icons/support.svg") 50%/100% no-repeat;
}

.mob-header__support:not(:last-child) {
  margin-bottom: 1.25rem;
}

.socials-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-header__item:not(:last-child) {
  margin-right: 1.375rem;
}

.socials-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-header__link img {
  width: 100%;
  height: 100%;
}

.icon-menu {
  display: none;
}

.footer {
  background: #0a0a14;
  -webkit-box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.5) inset;
}

.top-footer__body {
  padding: 1.875rem 0rem;
  border-bottom: 0.0625rem dashed #303036;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu__item:not(:last-child) {
  margin-right: 1.125rem;
}

.footer-menu__link {
  font-weight: 500;
}

.socials-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-footer__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  width: 2.1875rem;
  height: 2.1875rem;
}

.socials-footer__item:not(:last-child) {
  margin-right: 1.25rem;
}

.socials-footer__link {
  display: block;
}

.socials-footer__link img {
  width: 100%;
  height: 100%;
}

.bottom-footer {
  padding: 1.875rem 0rem;
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__item:not(:last-child) {
  margin-right: 2.1875rem;
}

.bottom-footer__icon {
  margin-right: 1.25rem;
}

.bottom-footer__text {
  color: #626885;
  font-size: 0.75rem;
  line-height: 1.1666666667;
}

.hero {
  position: relative;
}

.hero__slide {
  height: 23.75rem;
}

.hero__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-menu {
  background: #252536;
}

.main-menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-menu__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  min-height: 3.4375rem;
  position: relative;
}

.main-menu__item::before {
  content: "";
  margin-right: 0.625rem;
  width: 3.75rem;
  height: 3.4375rem;
}

.main-menu__item_1 {
  color: #17eada;
}

.main-menu__item_1::before {
  background: url("../img/icons/game_1.svg") 50%/100% no-repeat;
}

.main-menu__item_2 {
  color: #de593e;
}

.main-menu__item_2::before {
  background: url("../img/icons/game_3.svg") 50%/90% no-repeat;
}

.main-menu__item_3 {
  color: #6ef770;
}

.main-menu__item_3::before {
  background: url("../img/icons/game_2.svg") 50%/85% no-repeat;
}

.main-menu__item_4 {
  color: #e8ce3a;
}

.main-menu__item_4::before {
  background: url("../img/icons/game_4.svg") 50%/80% no-repeat;
}

.main-menu__item:not(:last-child)::after {
  content: "";
  width: 0.125rem;
  height: 2.125rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  background: #313041;
}

.games {
  padding: 6.25rem 0rem;
}

.games__list {
  margin-bottom: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.875rem;
}

.games__bottom {
  text-align: center;
}

.top-games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5rem;
}

.top-games__form {
  position: relative;
}

.top-games__input {
  padding: 0rem 3.75rem 0rem 1.25rem;
  border-radius: 1.75rem;
  background: #191929;
  height: 2.1875rem;
  font-size: 1rem;
  font-weight: 500;
  color: #646a87;
}

.top-games__input::-webkit-input-placeholder {
  color: #646a87;
  font-size: 1rem;
  font-weight: 500;
}

.top-games__input::-moz-placeholder {
  color: #646a87;
  font-size: 1rem;
  font-weight: 500;
}

.top-games__input:-ms-input-placeholder {
  color: #646a87;
  font-size: 1rem;
  font-weight: 500;
}

.top-games__input::-ms-input-placeholder {
  color: #646a87;
  font-size: 1rem;
  font-weight: 500;
}

.top-games__input::placeholder {
  color: #646a87;
  font-size: 1rem;
  font-weight: 500;
}

.top-games__search {
  position: absolute;
  right: 0;
  width: 3.125rem;
  top: 0;
  bottom: 0;
  background: url("../img/icons/search.svg") 50%/40% no-repeat;
}

.top-games__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-games__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5625rem;
}

.top-games__btn-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
  width: 1.5625rem;
  height: 1.6875rem;
}

.top-games__btn-wrapper:not(:last-child) {
  margin-right: 1.25rem;
}

.game {
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.0625rem solid #252536;
  background: #191929;
  -webkit-box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.6);
}

.game__image {
  margin-bottom: 0.625rem;
  position: relative;
  padding-bottom: 75%;
}

.game__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.game__list {
  position: absolute;
  top: -0.25rem;
  left: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game__item {
  width: 2.1875rem;
  height: 2.8125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
}

.game__item_hit {
  background: url("../img/icons/new.svg") 50%/100% no-repeat;
}

.game__item_new {
  background: url("../img/icons/hit.svg") 50%/100% no-repeat;
}

.game__item:not(:last-child) {
  margin-right: 0.625rem;
}

.game__label {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 0.625rem;
}

.text-block {
  padding: 3.125rem 0rem;
}

.text-block__wrapper {
  padding: 1.5625rem;
  border-radius: 0.625rem;
  background: #1c2240;
  -webkit-box-shadow: 0 0.25rem 0.625rem 0 #000;
          box-shadow: 0 0.25rem 0.625rem 0 #000;
}

.text-block__item {
  line-height: 1.4375;
}

.faqs {
  padding: 6.25rem 0rem;
}

.spollers-faqs__item {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c2240), to(#1c2240));
  background: linear-gradient(180deg, #1c2240 0%, #1c2240 100%);
  -webkit-box-shadow: 0 0.125rem 0.625rem 0 #000;
          box-shadow: 0 0.125rem 0.625rem 0 #000;
  max-width: 46.25rem;
}

.spollers-faqs__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.spollers-faqs__title {
  padding: 1.5625rem;
  width: 100%;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.6666666667;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spollers-faqs__title::after {
  content: "";
  background: url("../img/icons/arrows.svg") 50%/100% no-repeat;
  width: 0.75rem;
  height: 1.125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
  margin-left: 0.625rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.spollers-faqs__title._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spollers-faqs__content {
  line-height: 1.4375;
  padding: 0 1.5625rem 1.5625rem;
}

.reviews {
  padding: 3.125rem 0rem;
}

.reviews__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-review {
  padding: 1.5625rem;
  border-radius: 0.625rem;
  background: #1c2240;
  -webkit-box-shadow: 0 0.25rem 0.625rem 0 #000;
          box-shadow: 0 0.25rem 0.625rem 0 #000;
}

.item-review__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
}

.item-review__top:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-review__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.item-review__icon img {
  width: 100%;
}

.item-review__name {
  font-size: 1.25rem;
  font-weight: 500;
}

.item-review__label {
  font-weight: 900;
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
}

.error {
  text-align: center;
  padding: 12.5rem 0;
}

.error__image {
  max-width: 10.625rem;
  margin: 0 auto;
}

.error__image img {
  width: 100%;
  height: auto;
}

.error__image:not(:last-child) {
  margin-bottom: 1.25rem;
}

.error__label {
  font-size: 4.375rem;
  margin-bottom: 0.625rem;
  font-weight: 800;
}

.error__descr {
  font-size: 1.125rem;
  margin-bottom: 1.875rem;
}

.error__btn {
  -webkit-box-shadow: 0 4px 0 0 #a88e00, 0 5px 5px 0 #000;
          box-shadow: 0 4px 0 0 #a88e00, 0 5px 5px 0 #000;
  background-color: #ffe240;
}

@media (min-width: 47.99875em) {
  .header {
    padding: 0.625rem 0rem;
  }

  .mob-header {
    display: none;
  }
}

@media (min-width: 61.99875em) {
  .bottom-footer__left:not(:last-child) {
    margin-right: 5.625rem;
  }
}

@media (max-width: 61.99875em) {
  .header {
    position: static;
  }

  .bottom-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .main-menu__list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .main-menu__item:not(:last-child)::after {
    display: none;
  }

  .games__list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.25rem;
  }

  .faqs {
    padding: 3.75rem 0rem;
  }

  .error {
    padding: 9.375rem 0rem;
  }
}

@media (max-width: 47.99875em) {
  .header__left {
    padding: 0.625rem 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.625rem 0rem;
    border-top: 0.0625rem solid #363647;
  }

  .icon-menu {
    display: block;
    position: absolute;
    right: 0.625rem;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
    border-radius: 0.25rem;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .top-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top-footer__menu {
    margin-bottom: 1.25rem;
  }

  .bottom-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottom-footer__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.25rem;
  }

  .games__list {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .top-games {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .top-games__form {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .top-games__input {
    width: 100%;
  }

  .text-block {
    padding: 1.875rem 0rem;
  }

  .faqs {
    padding: 2.5rem 0rem;
  }

  .spollers-faqs__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .spollers-faqs__title {
    padding: 1.25rem;
  }

  .spollers-faqs__content {
    padding: 0 1.25rem 1.25rem;
  }

  .reviews {
    padding: 1.875rem 0rem;
  }
}

@media (max-width: 29.99875em) {
  .footer-menu {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .footer-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-menu__item:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 0.625rem;
  }

  .games__list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.9375rem;
  }

  .game__item {
    width: 1.625rem;
    height: 2.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.625rem;
            flex: 0 0 1.625rem;
  }

  .faqs {
    padding: 1.875rem 0rem;
  }

  .error {
    padding: 6.25rem 0rem;
  }

  .error {
    padding: 5rem 0rem;
  }
}

@media (max-width: 23.43625em) {
  .header__btn:not(:last-child) {
    margin-right: 0;
  }

  .header__support {
    display: none;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}

.webp .mob-header__download { background: url(../img/download.webp) 50%/cover no-repeat; }